* {
	margin: 0px;
	padding:0px;
	font-family: "Calibri";
}

.centro-pag {
	margin: 50px;
}

.centro-pag p {
	font-family: Montserrat;
	color: #343a40;
	font-size: 20px;
}


#divUniao {
	background-color: white;
	width: 80vw;
	margin-left:20vw;
}

.menu-lateral {
	width: 20vw;
	display: flex;
	flex-direction: column;
	background-color: #343a40;
	position:fixed;
	height:100vh;
}


.parte-menu:nth-child(1) {
	display: flex;
	flex-direction: column;
}

.logo-lateral {
	display: flex;
	justify-content: center;
	margin: 50px 0px;
}

.itens-lateral {
	display: flex;
	
}

.itens-lateral ul {
	position: relative;
	left: 20px;
	width: 80%;
}

.itens-lateral ul li {
	margin: 5px 0px;
	list-style: none;
	padding: 5px 0px 5px 20px;
	margin-bottom: 20px;
}

.itens-lateral ul li a {
	text-decoration: none;
}

.itens-lateral ul li a span {
	color: white;
}
 
.fa-home {
	margin-right: 10px;
	color: white;
}

.fa-cog {
	margin-right: 10px;
	color: white;
}

.fa-power-off {
	color: #D9450D;
	margin: 0px 10px 0px 30px
}
.parte-menu:nth-child(2) {
    position: absolute;
    bottom: 10%;
}

.parte-menu:nth-child(2) a span {
	color: #D9450D;
	text-decoration: none;
}

.parte-menu:nth-child(2) a {
	text-decoration: none;
}

main {
	display: flex;
	padding: 0px;
	margin: 0px;
}

.btnListagem a {
	border-radius: 12px;
    padding: 20px 30px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #343a40;
    font-size: 18px;
    font-family: Montserrat;	
    color:  #343a40;
}

.btnListagem a:hover {
	color: #F4FAFF;
	background-color: #343a40
}

.fa-plus-circle {
	margin-left: 15px;
    font-size: 20px;
}

.novoItemListagem {
	display: flex;
    justify-content: end;
    margin: 50px;
}

.itensListagem {
	background: #fff;
    
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 7px;
    margin: 20px auto 50px auto
}

.centroListagem {
	display: flex;
	flex-direction: column;
}

.tituloListagem {
	margin: 50px;
}

.tituloListagem h1 {
	color: #343a40;
	font-weight: bold;
}

.itensListagem table {
	border-collapse: collapse;
    width: 100%;
    background-color: white;
}

.itensListagem td{
	border-top: 1px solid #343a40;
	border-bottom: 1px solid #343a40;
  	text-align: center;
  	padding: 8px;
}

.itensListagem th {
	text-align: center;
  	padding: 8px;
  	color: #343a40;
  	font-weight: bold;
}

.fa-pencil-alt {
	color: #343a40;
	font-size: 25px;
}

.fa-trash-alt {
	color: #D9450D;
	font-size: 25px;
}

#submit {
	width: 30px;
    height: 30px;
    font-size: 19px;
    background-color: #D9450D;
    border: none;
    cursor: pointer;
}

/**/

/*painel edicao*/


/**/

/*painel criacao*/

.formuNewPromo {
	margin: 10px auto;
}

.box-form-geral input[type="text"]{
	width: 400px;
    padding: 12px;
    outline: 0;
    border-radius: 7px;
    border: solid 1px #707070;
    margin: 10px 0px 10px 0px; 
}

.box-form-geral textarea{
	width: 400px;
	min-height:150px;
    padding: 12px;
    outline: 0;
    border-radius: 7px;
    border: solid 1px #707070;
    margin: 10px 0px 10px 0px;
    resize: vertical; 
}

.box-form-geral select{
	width: 425px;
    padding: 12px;
    outline: 0;
    border-radius: 7px;
    border: solid 1px #707070;
    margin: 10px 0px 10px 0px;
}

.box-form-geral {
	display: flex;
}

.box-form-geral div {
	display: flex;
	flex-direction: column;
	margin: 10px;
}


label {
	color: #707070;
}

button {
	height: 40px;
	width: 200px;
	cursor: pointer;
	font-weight: bold;
	color: #343a40;
	background-color: #fff;
	opacity: 1;
	font-family: Montserrat;
	border: solid 1px #343a40;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-radius: 7px;
}

button:hover {
	color: #fff;
	background-color: #343a40;
}


