<!DOCTYPE html>
<html xmlns:th="http>//www.thymeleaf.org">
	
	<head>
		<meta charset="utf-8">
		<!-- meta viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- favicon -->
		<link rel="shortcut icon" th:href="@{images/favicon.ico}" type="image/x-icon">
		<!-- links css -->
		<link rel="stylesheet" th:href="@{css/categoria.css}">
		<link rel="stylesheet" th:href="@{css/main.css}">
		<!-- google fonts --> 
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<!-- fontawesome -->	
		<script src="https://kit.fontawesome.com/068c052113.js" crossorigin="anonymous"></script>
		<!-- titulo -->
		<title>Categoria CSS</title>
	</head>
	
	<body>
		
		<!-- menu -->
	
		<header>
	
			<!-- menu acessivel -->
	        
	        <nav class="menu_acessibilidade">
	
	            <ul>
					<li>
						<a href="#link1" accesskey="1" title="Ser redirecionado para o conteúdo"><span>1</span>ir para o conteúdo</a>
					</li>
				
					<li>
						<a href="#link2" accesskey="2" title="Ser redirecionado para o menu principal do site"><span>2</span>ir para o menu</a>
					</li>
				
					<li>
						<a href="#rodape" accesskey="3" title="Ser redirecionado para o rodapé da página"><span>3</span>ir para o rodapé</a>
					</li>
				
					<li>
						<a href="#link4" accesskey="4" title="Ser redirecionado para o formulário de busca"><span>4</span>ir para busca</a>
					</li>
				
				</ul>
	
	        </nav>
	
	
	        <!-- menu normal -->
	
	      
			<div class="all" id="link2">
	
				<div class="box_logo">
					<a th:href="@{/}"><img th:src="@{images/logo1.png}" alt="logo do site bibliotec" class="logo"></a>
				</div>
				<input type="checkbox" id="btn">
				<label for="btn">&#9776;</label>
				
				<nav class="menu_responsivo">
	
					<ul>
				        <li class="li_f" id="oi"><a href="#" class="foco">Categorias</a>
				        	<ul class="menu_categorias" id="listaFoco">
				            	<li><a th:href="@{/catHTML}" class="foco">HTML5</a>
				                <li><a th:href="@{/catCSS}" class="foco">CSS3</a>
				                <li><a th:href="@{/catPHP}" class="foco">PHP</a>
				                <li><a 	th:href="@{/catJS}" class="foco">javascript</a>
				            </ul>
				        </li>
					        
				      	<li class="li_f"><a th:href="@{/contato}">Contato</a></li>
				        <li class="li_f"><a th:href="@{/quemSomos}">Quem somos</a></li>
				        <li class="li_f"><a th:href="@{/melhoresTemas}">Melhores temas</a></li>
				        <li class="li_f"><a th:href="@{/painel}">Painel</a></li>
				    </ul>
				</nav>
	
				<div class="pesquisa">
					<form method="post">
						<label for="link4">Pesquisar Livro : </label>
						<input type="text" name="pesquisa" id="link4">
						<button type="submit"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
			</div>  
	
	    </header>
		
		<!-- section livros CSS -->
			<section id="link1">
				<h1 class="titulo">Livros sobre a CSS:</h1>
				<div class="section-recomendados">
					<div>
						<a th:href="@{/livro}"><img th:src="@{images/css1.jpg}" alt="capa do livro Pro HTML5 and CSS3 Design Patterns"></a>
						<p><a th:href="@{/livro}" class="link_livro">Pro HTML5 and CSS3 Design Patterns</a></p>
						<p>Michael Bowers</p>
						<a th:href="@{/livro}">Baixar</a>
					</div>
		
					<div>
						<a th:href="@{/livro}"><img th:src="@{images/css2.jpg}" alt="capa do livro Beginning Responsive Web Design with HTML5 and CSS3"></a>
						<p><a th:href="@{/livro}" class="link_livro">Beginning Responsive Web Design</a></p>
						<p>Jonathan Fielding</p>
						<a th:href="@{/livro}">Baixar</a>
					</div>
		
					<div>
						<a th:href="@{/livro}"><img th:src="@{images/css3.jpg}" alt="capa do livro Pro CSS3 Layout Techniques: Leverage the power of CSS3 to create sophisticated layouts"></a>
						<p><a th:href="@{/livro}" class="link_livro">Pro CSS3 Layout Techniques</a></p>
						<p>Sam Hampton</p>
						<a th:href="@{/livro}">Baixar</a>
					</div>
		
					<div>
						<a th:href="@{/livro}"><img th:src="@{images/css4.jpg}" alt="capa do livro CSS3 Solutions: Essential Techniques for CSS3 Developers"></a>
						<p><a th:href="@{/livro}" class="link_livro">CSS3 Solutions: Essential Techniques</a></p>
						<p>Marco Casario</p>
						<a th:href="@{/livro}">Baixar</a>
					</div>
					<div>
						<a th:href="@{/livro}"><img th:src="@{images/css5.jpg}" alt="capa do livro Pro CSS3 Animation"></a>
						<p><a th:href="@{/livro}" class="link_livro">CSS3: Pro CSS3 Animation</a></p>
						<p>Dudley Storey</p>
						<a th:href="@{/livro}">Baixar</a>
					</div>
		
					<div>
						<a th:href="@{/livro}"><img th:src="@{images/css6.jpg}" alt="capa do livro Web Standards: Mastering HTML5, CSS3, and XML"></a>
						<p><a th:href="@{/livro}" class="link_livro">Web Standards: Mastering HTML5, CSS3</a></p>
						<p>Leslie F</p>
						<a th:href="@{/livro}">Baixar</a>
					</div>
		
					<div>
						<a th:href="@{/livro}"><img th:src="@{images/css7.jpg}" alt="capa do livro HTML5 & CSS3 For The Real World"></a>
						<p><a th:href="@{/livro}" class="link_livro">HTML5 & CSS3 For The Real World</a></p>
						<p>Alexis Goldstein</p>
						<a th:href="@{/livro}">Baixar</a>
					</div>
		
					<div>
						<a th:href="@{/livro}"><img th:src="@{images/css8.jpg}" alt="capa do livro Pro Android Web Game Apps: Using HTML5, CSS3 and JavaScript"></a>
						<p><a th:href="@{/livro}" class="link_livro">Pro Android Web Game Apps</a></p>
						<p>Juriy Bura</p>
						<a th:href="@{/livro}">Baixar</a>
					</div>
				</div>
				
			</section>
		
		<!-- paginação -->
	
		<div class="pagination">
		  <a th:href="@{/}">&laquo;</a>
		  <a th:href="@{/}">1</a>
		  <a th:href="@{/}">2</a>
		  <a th:href="@{/}">3</a>
		  <a th:href="@{/}">4</a>
		  <a th:href="@{/}">5</a>
		  <a th:href="@{/}">6</a>
		  <a th:href="@{/}">&raquo;</a>
		</div>

   		<!-- Rodapé -->
	    <footer id="rodape">
			<p>BIBLIOTEC <i class="far fa-copyright" id="icon_footer"></i> 2020 Todos os direitos reservados</p>
		</footer>
		<!-- script tab -->
		<script th:src="@{js/tabMenu.js}"></script>		
	</body>
	

</html>