<!DOCTYPE html>
<html xmlns:th="http>//www.thymeleaf.org">
	
	<head>
		<meta charset="utf-8">
		<!-- meta viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- favicon -->
		<link rel="shortcut icon" th:href="@{images/favicon.ico}" type="image/x-icon">
		<!-- links css -->
		<link rel="stylesheet" th:href="@{../css/painel.css}">
		<!-- google fonts --> 
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<!-- fontawesome -->
		<script src="https://kit.fontawesome.com/068c052113.js" crossorigin="anonymous"></script>
		<!-- titulo -->
		<title>Painel criar</title>
	</head>
	
	<body>
		
		<main>
			<div class="menu-lateral">
				<div class="parte-menu">
					<div class="logo-lateral">
						<a th:href="@{/painel}"><img th:src="@{../images/logo1.png}" class="img-lateral"></a>
					</div>
			
					<div class="itens-lateral">
						<ul>
							<li><a th:href="@{/}"><i class="fas fa-home"></i><span>Painel</span></a></li>
							<li><a th:href="@{/}"><i class="fas fa-cog"></i><span>Categorias</span></a></li>
							<li><a th:href="@{/}"><i class="fas fa-cog"></i><span>Autores</span></a></li>
							<li><a th:href="@{/}"><i class="fas fa-cog"></i><span>Livros</span></a></li>
						</ul>
					</div>
				</div>
			
				<div class="parte-menu">
					<i class="fas fa-power-off"></i><a th:href="@{/}" id="btn-sair"><span>Home</span></a>
				</div>
			</div>
			
			<div id="divUniao">
				<section>
					<div class="centroListagem">
					<div class="tituloListagem">
						<h1>Adicionar registro:</h1>
					</div>

					<div class="itensListagem">
						<div class="formuNewPromo">
							<form action="#" th:action="@{/painel/livro}" method="post" th:object="${pcriarlivros}" enctype="multipart/form-data">
								<div class="box-form-geral">
									<div>
										<label for="nome">NOME:</label>
									
										<input type="text" th:field="*{nm_livro}" id="nome" required>
									</div>
								</div>
								
								<div class="box-form-geral">
									<div>
										<label for="descricao">DESCRIÇÃO:</label>
									
										<textarea th:field="*{ds_livro}"></textarea>
									</div>
								</div>
								
								<div class="box-form-geral">
									<div>
										<label for="autor">AUTOR:</label>
									
										<input type="text" th:field="*{cd_autor}" id="autor" required>
									</div>
								</div>
								
								<div class="box-form-geral">
									<div>
										<label for="categoria">CATEGORIA:</label>
									
										<input type="text" th:field="*{cd_categoria}" id="categoria" required>
									</div>
								</div>
								
								
								<div class="box-form-geral">
									<div>
										<button type="submit">Criar registro</button>
									</div>
									
								</div>
							</form>
							
						</div>
					</div>

				</div>
				</section>
			</div>
			
		</main>
		
			
	</body>
	

</html>