<!DOCTYPE html>
<html xmlns:th="http>//www.thymeleaf.org">
	
	<head>
		<meta charset="utf-8">
		<!-- meta viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- favicon -->
		<link rel="shortcut icon" th:href="@{images/favicon.ico}" type="image/x-icon">
		<!-- links css -->
		<link rel="stylesheet" th:href="@{css/painel.css}">
		<!-- google fonts --> 
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<!-- fontawesome -->
		<script src="https://kit.fontawesome.com/068c052113.js" crossorigin="anonymous"></script>
		<!-- titulo -->
		<title>Painel criar</title>
	</head>
	
	<body>
		
		<h1>Sucesso</h1>
			
	</body>
	

</html>